body{
    background-color: #DBDF88;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DBDF88;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

  

.logo {
    
    position: absolute;
    width: 500px;
    height: 328px;
    margin-left: 0%;
    margin-top: 78px;
    left: 0%;
    right: 65.43%;
    top: 8.59%;
    bottom: 42.38%;
        


}

 

.main-text{
    position: absolute;
    position: absolute;
    width: 422px;
    height: 186px;
    left: 31px;
    top: 619px;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
    
    

}
.information-text{
    position: absolute;
    width: 422px;
    height: 157px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
   

}

.furniture{
    position: absolute;
    width: 928px;
    height: 782px;
    left: 506px;
    top: 73px; 
}

